In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
submissions=pd.read_csv('sample_submission.csv')

In [3]:
labels=train.suicides_no
train.drop(columns=['suicides_no'],inplace=True)

In [4]:
join=pd.concat([train,test])

In [5]:
join.drop(columns=['Unnamed: 0','country-year','HDI for year'],inplace=True)

In [6]:
join.age.unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [7]:
dic={'5-14 years':1,'15-24 years':2,'25-34 years':3,'35-54 years':4,'55-74 years':5,'75+ years':6}
join.age=join.age.map(dic)

In [8]:
join.head()

,country,year,sex,age,population,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,2,312900,"2,156,624,900",796,Generation X
1,Albania,1987,male,4,308000,"2,156,624,900",796,Silent
2,Albania,1987,female,2,289700,"2,156,624,900",796,Generation X
3,Albania,1987,male,6,21800,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,3,274300,"2,156,624,900",796,Boomers

In [9]:
join.drop(join.columns[5],axis=1,inplace=True)

In [10]:
sex=pd.get_dummies(join.sex)
sex=sex.male
join.sex=sex

In [11]:
join.country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [12]:
dic = {}
for x in ('Armenia','Azerbaijan', 'Bahrain','Israel','Japan','Kazakhstan', 'Kuwait','Kyrgyzstan','Macau','Maldives','Mongolia','Oman','Philippines','Qatar','Republic of Korea','Russian Federation','Sri Lanka','Thailand','Turkey','Turkmenistan','United Arab Emirates','Singapore','Uzbekistan'):
    dic[x] = 1

In [13]:
dic = {}
for x in ('Armenia','Azerbaijan', 'Bahrain','Israel','Japan','Kazakhstan', 'Kuwait','Kyrgyzstan','Macau','Maldives','Mongolia','Oman','Philippines','Qatar','Republic of Korea','Russian Federation','Sri Lanka','Thailand','Turkey','Turkmenistan','United Arab Emirates','Singapore','Uzbekistan'):
    dic[x] = 1
for x in ('Albania', 'Austria','Belarus','Belgium','Croatia','Serbia','Cyprus','Sweden','Norway','Netherlands','Bosnia and Herzegovina','Bulgaria','Czech Republic','Denmark','Estonia','Finland', 'France','Georgia','Germany', 'Greece','Hungary','Iceland', 'Ireland', 'Italy','Latvia','Lithuania', 'Luxembourg','Malta','Montenegro','Poland', 'Portugal', 'Romania','San Marino','Slovakia','Slovenia', 'Spain','Switzerland', 'Ukraine','United Kingdom'):
    dic[x] = 2
for x in ('Antigua and Barbuda','Bahamas','Costa Rica','Barbados','Cuba','Belize','Canada','Dominica', 'El Salvador','Grenada','Guatemala','Jamaica','Nicaragua','Panama','Puerto Rico','Saint Kitts and Nevis','Saint Vincent and Grenadines','Saint Lucia','United States'):
    dic[x]=3
for x in ('Argentina','Chile','Colombia','Brazil','Cabo Verde','Ecuador', 'Guyana','Mexico','Paraguay','Suriname','Uruguay','Trinidad and Tobago'):
    dic[x]=4
for x in ( 'Australia', 'Fiji','Kiribati','New Zealand'):
    dic[x]=5
for x in ('Nicaragua','Mauritius','South Africa','Aruba','Seychelles'):
    dic[x]=6
join.country=join.country.map(dic)

In [14]:
join.generation.unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [15]:
join.generation.unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [16]:
dic={'Generation X':1, 'Silent':2, 'G.I. Generation':3, 'Boomers':4,
       'Millenials':5, 'Generation Z':6}
join.generation=join.generation.map(dic)

In [17]:
join.head()

   country  year  sex  age  population  gdp_per_capita ($)  generation
0        2  1987    1    2      312900                 796           1
1        2  1987    1    4      308000                 796           2
2        2  1987    0    2      289700                 796           1
3        2  1987    1    6       21800                 796           3
4        2  1987    1    3      274300                 796           4

In [18]:
def normalize(X):
    return np.abs((X-np.mean(X))/np.std(X))
join.year=normalize(join.year)
join['gdp_per_capita ($)']=normalize(join['gdp_per_capita ($)'])
join.population=normalize(join.population)

In [19]:
join.head()

   country      year  sex  age  population  gdp_per_capita ($)  generation
0        2  1.683615    1    2    0.391617            0.850864           1
1        2  1.683615    1    4    0.392870            0.850864           2
2        2  1.683615    0    2    0.397548            0.850864           1
3        2  1.683615    1    6    0.466035            0.850864           3
4        2  1.683615    1    3    0.401485            0.850864           4

In [20]:
x_test=join.iloc[18083:]
x_cv=join.iloc[16000:18083]
x_train=join.iloc[0:16000,:]
y_cv=labels.iloc[16000:]
y_train=labels.iloc[0:16000]

In [21]:
join.isnull().sum()

country               0
year                  0
sex                   0
age                   0
population            0
gdp_per_capita ($)    0
generation            0
dtype: int64

In [22]:
from sklearn.tree import DecisionTreeRegressor
tree=DecisionTreeRegressor()
tree.fit(x_train,y_train)
tree.score(x_cv,y_cv)

-0.6429606969782244

In [23]:
y_pred=tree.predict(x_test)

In [24]:
y_pred.max()

8384.0

In [25]:
y=tree.predict(x_train)

In [26]:
m=len(y_train)
error=(1/2*m)*(y-y_train)**2
error.sum()

0.0

In [27]:
y_pred=tree.predict(x_test)

In [28]:
submissions.suicides_no=y_pred

In [29]:
submissions.to_csv("pred.csv",index=False)